$top-menu-height: 6rem;
$brand-yellow-color: #FFEC50;
$brand-header-color: rgb(49 49 48);
$brand-footer-color: rgb(22, 22, 22);

$header_height: 112px;

:root {
    --brand-yellow-color: #FFEC50;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
    --bs-btn-active-border-color: #fff;
}