$top-menu-height: 6rem;
$brand-yellow-color: #FFEC50;
$brand-header-color: rgb(49 49 48);

:root {
    --brand-yellow-color: #FFEC50;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
    --bs-btn-active-border-color: #fff;
}